.buttonsContainer {
    display: flex;
    margin-left: 10px;
  }
  
  .categoryButton {
    font-weight: 700;
  }
  
  .categoryButton:not(:last-of-type) {
    margin-right: 10px;
  }
  
  .categoryButton::first-letter {
    text-transform: uppercase;
  }